# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Virtual environments
venv/
.env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data archives
*.zip
*.tar
*.tar.gz

# Results or outputs (falls groß)
results/
